## Creating Pandas DataFrames with Numpy Arrays
- Pandas columns must be 1-dimensional, so multi-dimensional arrays cause a `ValueError: Per-column arrays must each be 1-dimensional`.
- Convert each row’s array to a list-like structure to store multi-dimensional data in Pandas.
- Polars can natively handle multi-dimensional arrays without throwing an error.

In [1]:
import os
import sys

sys.path.append(os.path.abspath(os.path.join('..')))

import numpy as np
import pandas as pd
import polars as pl

In [2]:
keys = np.arange(10)
arrays = np.random.randn(10, 8)

In [3]:
try:
    df = pd.DataFrame({'key': keys, 'arr': arrays})
except ValueError as e:
    print(e)

Per-column arrays must each be 1-dimensional

In [4]:
arr_list = [arr for arr in arrays]
df = pd.DataFrame(data = {'key': keys, 'arr': arr_list})
df

   key                                                arr
0    0  [-1.3566381558100145, -0.640178091800231, -0.1...
1    1  [1.177178798297101, -0.8990092603738802, 0.412...
2    2  [-0.3665163222087579, 0.8754014418501139, 0.10...
3    3  [-0.20624980300105303, -0.025571766986585854, ...
4    4  [-0.29369920857865595, 0.02050509135443522, 3....
5    5  [0.5523453368618929, 1.8193734784569158, 0.019...
6    6  [2.079679039930945, -0.42303257446514725, -0.3...
7    7  [1.9016838934223732, 0.42065202386339146, -0.9...
8    8  [0.552635124033911, 0.016928258104264807, 2.97...
9    9  [0.7902853183725788, 1.2133577177620076, -0.57...

In [ ]:
# Create dataframe with Polars.
df = pl.DataFrame({'key': keys, 'arr': arrays})
df

shape: (10, 2)
┌─────┬─────────────────────────────────┐
│ key ┆ arr                             │
│ --- ┆ ---                             │
│ i32 ┆ array[f64, 8]                   │
╞═════╪═════════════════════════════════╡
│ 0   ┆ [-1.356638, -0.640178, … 1.739… │
│ 1   ┆ [1.177179, -0.899009, … 0.9941… │
│ 2   ┆ [-0.366516, 0.875401, … 0.7105… │
│ 3   ┆ [-0.20625, -0.025572, … -0.534… │
│ 4   ┆ [-0.293699, 0.020505, … 0.9660… │
│ 5   ┆ [0.552345, 1.819373, … -0.7920… │
│ 6   ┆ [2.079679, -0.423033, … -0.116… │
│ 7   ┆ [1.901684, 0.420652, … -0.4500… │
│ 8   ┆ [0.552635, 0.016928, … -0.4476… │
│ 9   ┆ [0.790285, 1.213358, … -0.7896… │
└─────┴─────────────────────────────────┘